/* pemberian font dan warna, pemberian jarak baris / Font Standar */
body {
    font: 16px/20px arial, sans-serif;
    background-color: #eaeaea;
    color: #333 ;
}
.container {
    width: 800px;
    margin: auto;
    background-color: #ffff;
}

/* padding pada header berfungsi untuk melebarkan container */
.header {
    padding: 20px;
    padding-bottom: 10px;
}

/* memperbesar ukuruan text pada judul */
.header  .judul {
    font-size: 40px;
    font-weight: bold;
}

/* cara membuat navigasi menjadi vertikal menggunakan inline blok */
.header ul li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}

/* cara memodifikasi navigasi  */
.header a {
    text-decoration: none;
    color: salmon;
    padding: 3px;

}

/* cara memberi warna pada navigasi saat di klik */
.header a:hover {
    background-color: lightskyblue;
    color: white;
}

/* pengaturan pada banner, untuk memasukan gambar bisa kunjungi unsplash.com */
.hero {
    height: 280px;
    background-image: url(/praktik/gambar/komputer.jpg);
    background-size: cover;
    /* untuk mengatur vertikal dan horizontal sebuah banner/gambar */
    background-position: 0 -100px;
    border-bottom: 5px solid lightskyblue;
    border-top: 5px solid salmon;
}

/* pengaturan pada konten website */
.conten {
    padding: 20px;
}
.conten h2 {
    font-size: 28px;
    font-weight: bold;
}
.conten .Penulis {
    font-size: 11;
    margin-top: -5px;
}
.conten .Penulis a {
    color: salmon;
    text-decoration: none;
}
.conten .Penulis a:hover{
    background-color: lightskyblue;
    color: white;
}
.conten p {
    margin-bottom: 20px;
    font-size: 14px;
}

/* Pengaturan Pada Footer */

.footer {
    background-color: #333;
    padding: 10px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}