/* Pembuatan selector body */
body {
    /* Mengganti Jenis Text */
    font-family: arial;
}
/* pembuatan selector h1 dan h2 */
h1,h2{
    color: green;
}
/* pergantian warna selector pada ul dengan anda # */
#ul {
    color: orange;
}
/* pergantian warna selector pada ol dengan tanda . */
.ol {
    color: red;
} 
/* mengganti warna paragraf 1 pada selector dikasih tanda # untuk penanda id */
#p1 {
    color: green;
}
/* mengganti warna paragraf 2 pada selector tandan . untuk penanda class */
.p2 {
    color: blue;
}

/* untuk memberi text tebal maka di kasih class dengan tanda . */
.cetak-tebal{
    font-weight: bold;
}

/*  memberi cetak tebal  pada paragraf tertentu bisa memberikan class p.cetak-tebal */

p.cetak-tebal{
    font-size: 30px;
}