body {
    background-color: lightblue;
    /* merubah warna baground */
    background-color: lightblue;
    /* manambah gambar baground  */
    background-image: url(gambar/waterfall.png);
    background-repeat: no-repeat;
    /* ubah gambar ke kanan */
    background-position: top center;
    /* ubah ukuran gambar */
    background-size: 500px
}

