/* pembuatan font-size, font-weight, font variant, font-style, font oblique */
h1 {
    /* memberikan warna pada huruf */
    color: rgb(85, 107, 47);
    /* memberikan jenis text yang di ubah */
    font-family: 'Courier New', Courier, monospace;
    /* memberikan ukuran pada text */
    font-size: 50px;
    /* memberikan text untuk tebal  */
    font-weight: bold;
    /* memberikan huruf kecil dan besar */
    font-variant: small-caps;
    /* memberikan text miring */
    font-style: italic;
    /* penambahan text decoration untuk garis bawah */
    text-decoration: underline;
}
p {
    font-family: georgia,serif;
    font-size: 25px;
    font-weight: lighter;
    font-style: oblique;
    /* memerikan line spaci pada paragraf */
    line-height: 30px;
    /* untuk mengatur text contoh : rata kanan */
    /* text-align: right */
    /* untuk mengatur paragraf */
    text-indent: 100px;
    /* mengubah text menjadi, kecil dengan lowcase, 
    besar : uppcase, huruf besar tiap huruf dengan : Capitalize */
    text-transform: capitalize;
    /* untuk mengatur spasi */
    letter-spacing: 5px;
}

a{
    font-size: 50px;
    /* menghilangkan garis bawah */
    text-decoration: none;
    /* mengubah text menjadi, kecil dengan lowcase, 
    besar : uppcase, huruf besar tiap huruf dengan : Capitalize */
    text-transform: uppercase;
}